<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>MyIRC Log in</title>
		<link rel="stylesheet" type="text/css" href="../css/login.css">
	</head>
	<body>
		<h2>Create room</h2>
		<div id="login">
		<form id="form" action="/createroom" method="post">
			<div>
				<label for="create_room">Channel room</label>
				<input id ="create_room" type="text" name="channel_name" placeholder="Name channel room" />
			</div>
            <button>Send</button>

		</form>
	</div>
	</body>
</html>