<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>MyIRC Sing up</title>
		<link rel="stylesheet" type="text/css" href="../css/singup.css">
	</head>
	<body>
		<h2>Sing up</h2>
		<div id="singup">
		<form id="form" action="/sing_up" method="post">
			<div>
				<label for="username">Username:</label>
				<input id="username" type="text" name="username" placeholder="username"/>
			</div>
			<div>
				<label for="password">Password</label>
				<input id ="password" type="password" name="password" placeholder="password"/>
			</div>
				<button>Send</button>
		</form>
	</div>
	</body>
</html>